/* src/app/modules/trajet/components/trajet-filter/trajet-filter.component.scss */
.filter-container {
  width: 100%;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filter-row {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  
  mat-form-field {
    flex: 1;
    min-width: 150px;
   --mdc-outlined-text-field-outline-color:var(--text-color);
  --mdc-icon-button-icon-color:var(--text-color); /* Couleur des icônes */
  }
}

/*
::ng-deep mat-form-field input, 
::ng-deep mat-form-field textarea {
  color: #ffffff !important;  //Texte de l'input 
}

::ng-deep .mdc-floating-label {
  color: #ffffff !important;
}
*/


::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

@media (max-width: 768px) {
  .filter-row {
    flex-direction: column;
    
    mat-form-field {
      width: 100%;
    }
    
    button {
      align-self: flex-end;
    }
  }
}
