<!-- src/app/modules/layout/layout.component.html -->
<div class="layout-container">
  <app-header 
    (toggleSidenavEvent)="toggleSidenav()" 
    [unreadMessagesCount]="unreadMessagesCount">
  </app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer 
      class="sidenav" 
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <app-sidenav [unreadMessagesCount]="unreadMessagesCount"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <!-- Contenu principal -->
        <main class="main-content">
          <router-outlet></router-outlet>
        </main>

        <!-- Pied de page -->
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
