/* src/app/modules/layout/layout.component.scss */
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px); /* Hauteur de l'en-tête */
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 599px) {
  .main-content {
    padding: 16px;
  }
  
  .content-container {
    min-height: calc(100vh - 56px); /* Hauteur de l'en-tête sur mobile */
  }
}
